.square-purple {
    width: 900px;
    height: 560px;
    border-radius: 2px;
    border: 8px solid rgba(185, 73, 255, 0.80);
    box-shadow: 0px 1px 20px var(--col-purple);
    position: absolute;
    top: 210px;
    right: 140px;
    z-index: -1;
}

.project-container {
    padding: 20px 150px 32px 150px;
}

.containers {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 32px;
}

.section-links-project {
    display: flex;
    gap: 10px;
}

.project-link-deploy {
    border: 1px solid var(--col-purple);
    padding: 8px 85px;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    cursor: pointer;
  
    &:hover {
      background-color: var(--col-purple);
      box-shadow: 0px 1px 20px var(--col-purple);
      transform: scale(1.05);
      color: #FFF;
      /* transform: translateY(-1px); */
    }
}

.btn-links {
    border: 1px solid var(--col-purple);
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    cursor: pointer;
  
    &:hover {
      background-color: var(--col-purple);
      box-shadow: 0px 1px 20px var(--col-purple);
      transform: scale(1.05);
      color: #FFF;
      /* transform: translateY(-1px); */
    }
}

.project-txt {
    width: 380px;
    text-align: justify;
    margin-top: 20px;
}

.list-icons {
    display: flex;
    gap: 10px;
    margin: 32px 0;
    max-width: 380px;
    flex-wrap: wrap;
}

.project-icon {
    background-color: var(--col-dark-two);
    padding: 14px 12px 10px 12px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 20px 0px #B949FF;
        transform: scale(1.1);
    }
}