.project-container {
    padding: 20px 150px 32px 150px;
}

.containers {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 32px;
}

.project-txt {
    width: 380px;
    text-align: justify;
}

.list-icons {
    display: flex;
    gap: 12px;
    margin: 32px 0;
    max-width: 380px;
    flex-wrap: wrap;
}

.project-icon {
    background-color: var(--col-dark-two);
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 20px 0px #B949FF;
        transform: scale(1.1);
    }
}