:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--col-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --col-dark: #222831;
  --col-dark-two: #2B313C;
  --col-dark-purple: #351648;
  --col-purple: #b949ff;
  --col-gray: #ababab;
  --col-light-gray: #e8e8e8;
  --col-white: #ffffff;
  /* gradient colors - call using background="" */
  --col-gradient-dark: linear-gradient(90deg, #181c22 0%, #222831 85.28%);
  --col-gradient-purple: linear-gradient(180deg, #222831 0%, #351648 100%);
  --col-gradient-purple-180: linear-gradient(180deg, #351648 0%, #1F242C 100%);
  --col-gradient-light-purple: linear-gradient(
    180deg,
    #b949ff 0%,
    #351648 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* max-width: 430px; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 120px 150px 0 150px;
  min-height: 100vh;
}

section:nth-child(1) {
  background: var(--col-gradient-purple);
  min-height: calc(100vh - 80px);
  padding: 0 150px 0 0;

  display: flex;
  flex-direction: row;
  gap: 100px;
  /* border-bottom: 30px solid var(--col-purple); */
}

/* section:nth-child(2) {
  background: var(--col-gradient-purple-180);
} */

section:nth-last-child(1) {
  /* TODO: bg reponsive */
  background: var(--col-gradient-purple);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 0.1em 0.1em 0.2em rgb(29, 28, 28);
}

span {
  color: var(--col-purple);
}

/* Buttons */

.btn-cv {
  border: 2px solid var(--col-purple);
  background: none;

  padding: 18px 38px;
  border-radius: 6px;
  max-width: 230px;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background-color: var(--col-purple);
    box-shadow: 0px 1px 20px var(--col-purple);
    transform: scale(1.05);
    color: #FFF;
    /* transform: translateY(-1px); */
  }
}

.btn-cv a {
  display: flex;
  gap: 20px;
  align-items: center;
}

.i-icon {
  font-size: 20px;
}

.btn-education {
  padding: 6px 20px;
  background-color: var(--col-purple);
  color: var(--col-dark-purple);
  border-radius: 6px;
  border: none;
  margin-left: 210px;
  font-weight: 600;
  cursor: pointer;
}
/* ------------------- */

/* Style section HOME */
.image-home {
  width: 800px;
  margin-top: -90px;
  z-index: 100;
}

.content-home p {
  width: 400px;
  padding: 50px 0;
}

.content-home {
  margin-top: 120px;
}

/* ------------------- */

.section-photo {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.section-photo p {
  text-align: justify;
  width: 100%;
  padding: 10px;
}

@media (max-width: 850px) {
  section {
    padding: 100px 20px 0 20px;
  }

  section:nth-child(1) {
    min-height: calc(100vh - 60px);
    flex-direction: column-reverse;
    padding: 0;
  }

  .content-home {
    padding: 0 20px;
    margin-top: 50px;
    padding-bottom: 30px;
  }

  .image-home {
    width: 430px;
  }

  .section-photo {
    margin: 20px 0;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .content-home p {
    width: 350px;
    padding: 30px 0;
    font-size: 14px;
  }

  .btn-cv {
    margin-left: 80px;
    padding: 18px 38px;
  }
}
